<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
</head>
<body>
<h2>Your profile: <span th:text="${principal.name}">user</span></h2>
</body>
</html>